@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&family=Ubuntu:wght@400;500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    background: linear-gradient(180deg, #781A20 0%, #722421 0%, #6B3022 79.85%, rgba(162, 5, 15, 0.265625));
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: url(imgs/Group\ 1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   
}


.enid_button{
height: 280px;
width: 600px;
font-family:'Fuzzy Bubbles', cursive;
font-size: 60px;
clip-path: polygon(20% 0%, 80% 0%, 99% 100%, 0 100%);
background: linear-gradient(180deg, rgba(183, 15, 76, 0.71) -8.05%, rgba(255, 132, 191, 0.4757) 68.73%);
text-align: center;
margin-top: 250px;
text-shadow: 100px 100px 100px  #3613fe;
}

.button2{
    position: absolute;
    clip-path: polygon(1% 7%, 100% 5%, 94% 93%, 10% 93%);
    width: 400px;
    height: 180px;
    background: linear-gradient(180deg, rgba(215, 132, 132, 0.71) 10.22%, rgba(255, 132, 191, 0.4757) 100%);
}

.img_bant{
    position: absolute;
    z-index: 2;
    right: 480px;
    top: 220px;
}

.bnt{
    position: absolute;
    z-index: 2;
    left: 480px;
    top: 220px;
}

@keyframes neon_title{
    from{
        text-shadow: -25px -25px 10px #fe019a;
    }
    to{
        text-shadow: 25px 25px 10px #f04c4c;
    }
}